@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('opentype')
}

@font-face {
    font-family: 'poppins_light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('opentype')
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins_light';
    background-color: #000;
}

.btn-pagina {
    font-family: 'poppins';
}

.btn-pagina:hover {
    text-decoration: underline;
}

nav {
    opacity: .9;
    font-family: 'poppins';
}

#link_home:hover {
    transition: ease 0.3s;
    color: #00b8e4;
}

#link_sobre:hover {
    transition: ease 0.3s;
    color: #00b8e4;
}

#link_hab:hover {
    transition: ease 0.3s;
    color: #00b8e4;
}

#link_proj:hover {
    transition: ease 0.3s;
    color: #00b8e4;
}

#apresentacao {
    font-size: 25pt;
    color: #eee;
    font-family: 'poppins_light';
}

#name {
    color: #00b8e4;
    font-size: 40pt;
    font-family: 'poppins';
}

#funcao {
    font-size: 25pt;
    color: #eee;
    font-family: 'poppins_light';
}

#name::after {
    content: "|";
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#home {
    background-image: url(../images/back_home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#home_conteudo {
    display: flex;
    height: 100vh;
}

#div_apresentacao {
    margin-left: 10%;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

#sobre_mim {
    background-color: #111;
    padding: 2%;
    height: 100vh;
}

#sobre_mim_corpo {
    margin-top: 4%;
}

#sobre_mim_titulo {
    color: #00b8e4;
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'poppins';
}

#sobre_mim_conteudo {
    display: flex;
    font-family: 'poppins_light';
}

#sobre_mim_img {
    margin-left: 20%;
}

#sobre_mim_texto {
    font-size: 1.3em;
    color: #eee;
}

#habilidades {
    background-color: #060606;
    height: 100vh;
    padding: 2%;
}

#hab_corpo {
    margin-top: 4%;
}

#hab_titulo {
    color: #00b8e4;
    text-align: center;
    font-family: 'poppins';
}

#hab_icones {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

#hab_icones_cards {
    display: flex;
}

#hab_texto_animacao {
    text-align: center;
}

#hab_itens_titulo {
    font-size: 18pt;
    text-align: center;
    font-family: 'poppins';
}

#hab_texto {
    text-align: left;
    font-size: 12pt;
    width: 50%;
    text-align: justify;
    margin-left: 25%;
    font-family: 'poppins_light';
}

.hab_card {
    background-color: #111;
    text-align: center;
}

.hab_card {
    border-width: 5px;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.hab_card:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

#projetos {
    background-color: #111;
    color: #eee;
    text-align: center;
    height: 100vh;
    padding: 1%;
}

#proj_corpo {
    margin-top: 5%;
}

#proj_conteudo {
    display: flex;
    margin-top: 3%;
}

#proj_titulo {
    color: #00b8e4;
    font-family: 'poppins';
}

#proj_icones {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.proj_card {
    background-color: #060606;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px;
    font-family: 'poppins_light';
}

.card_titulo {
    font-family: 'poppins';
}

#modal_projetos {
    text-align: left;
}

.modal-body {
    display: flex;
}

.modal_titulo {
    font-family: 'poppins';
    color: #00b8e4;
}

.modal_texto {
    font-family: 'poppins_light';
}

.d-block {
    width: 100%;
}

.close {
    color: #eee;
}

.close:hover {
    color: #eee;
}

.btn-carossel {
    width: 10%;
    background-color: #060606;
    opacity: .1;
    color: #eee;
}

#contato {
    background-color: #060606;
    color: #00b8e4;
    height: 70vh;
    padding: 1%;
}

#cont_corpo {
    margin-top: 3%;
}

#cont_itens {
    display: flex;
}

#cont_titulo {
    text-align: left;
    font-family: 'poppins';
}

.cont_info {
    color: #eee;
    font-family: 'poppins_light';
}

.cont_titulo_info {
    color: #00b8e4;
}

.cont_input {
    border-color: #00b8e4;
    background-color: #060606;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    color: #eee;
    font-family: 'poppins_light';
}

.cont_input:active,
.cont_input:focus {
    background-color: #060606;
    outline: 0;
    box-shadow: 0 0 0 0;
    color: #eee;
}

.swal-modal {
    background-color: #060606;
    border: #00b8e4 solid;
    font-family: 'poppins';
}

.swal-title {
    color: #eee;
}

textarea {
    color: #eee;
    width: 100%;
}

footer {
    background-color: #00b8e4;
    color: #eee;
    height: 5vh;
    margin: 0;
    text-align: center;
    font-family: 'poppins';
}

@media screen and (max-width: 600px) {
    #home {
        background-image: url(../images/back_home.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
    }

    #home_conteudo {
        display: block;
        height: 500px;
    }

    #apresentacao {
        font-size: 18pt;
    }

    #name {
        color: #00b8e4;
        font-size: 28pt;
    }

    #funcao {
        font-size: 18pt;
    }

    #div_apresentacao {
        text-align: center;
        margin: auto;
        margin-top: 50%;
    }

    #div_img_home {
        display: none;
    }

    #sobre_mim {
        height: 900px;
    }

    #sobre_mim_conteudo {
        display: block;
    }

    #sobre_mim_corpo {
        margin-top: 15%;
    }

    #sobre_mim_texto {
        text-align: center;
    }

    #sobre_mim_img {
        margin: auto;
        text-align: center;
    }

    #habilidades {
        height: 1000px;
    }

    #hab_corpo {
        margin-top: 15%;
    }

    #hab_itens_titulo {
        display: none;
    }

    #hab_texto {
        display: none;
    }

    #hab_itens {
        text-align: center;
        display: grid;
    }

    #hab_icones {
        display: block;
        width: 100%;
        margin-left: 2%;
    }

    .img_card {
        width: 70%;
    }

    .itens {
        display: flex;
    }

    .card:hover {
        transform: scale(1);
    }

    #hab_icones_cards {
        display: block;
    }

    #projetos {
        height: 1500px;
        text-align: center;
    }

    #proj_corpo {
        margin-top: 20%;
    }

    #proj_conteudo {
        display: grid;
    }

    #proj_icones {
        display: block;
        margin-left: 8%;
    }

    .modal-body {
        display: grid;
    }

    [data-anime="left"] {
        transform: translate3d(-5px, 0, 0);
    }

    [data-anime="right"] {
        transform: translate3d(5px, 0, 0);
    }

    #contato {
        height: 700px;
        text-align: center;
    }

    #cont_corpo {
        margin-top: 10%;
    }

    #cont_titulo {
        text-align: center;
    }

    #cont_itens {
        display: block;
    }

    #cont_info {
        margin: 0;
        padding: 0;
    }
}