#conteudo {
    background-color: black;
}

h1,
p {
    color: white;
}

.name {
    color: #1496BB;
}

#sobre_mim {
    background-color: grey;
}

#projetos {
    background-color: grey;
}

footer {
    background-color: black;
    color: white;
}

/* #1496BB */